<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2 align="center">CS6408 Assignment3/4</h2>
    </br>


    <p>student no.: 112122980</p>

    <p>student name: Mingqian Gao</p>
    </br>
    <p>Ruby 2.0.0</p>

    <p>Framework: Ruby On Rails 4.0.1</p>

    </br>
    </br>

    <blockquote class="Small Font">Any page of each database table is able to sort data by each particular column; all
      search is partial key word search, that means each table can search each particular key word
    </blockquote>

    </br>

    <p align="right">
      <a class="btn btn-primary" href="<%= branches_url %>" role="button">View Branch table &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->


